.wrp{
   padding-top: 50px;
  height: 100vh;

  color: #17394d;
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -100;
}


.columnhandler::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.columnhandler::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.columnhandler {
  padding: 15px 0;
  height: calc(100vh - 100px);
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  //white-space: nowrap;
  flex-direction: row;
  align-items: flex-start;

  .column {
      display: flex;
      flex-direction: column;
      background-color: #dfe3e6;
      border-radius: 5px;
      padding: 5px;
      min-width: 220px;
      max-width: 220px;
      margin: 0 15px;
      padding-left: 0.5rem;
      padding-right: 0.6rem;

      .cap-block {
          padding-bottom: 5px;
          
          padding-right: 0px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          input {
            font-size: 15px;
            outline: white;
            padding: 6px;
            background: white;
          }
          .caption {
              padding-left: 10px;
              font-weight: 600;
              padding-top: 10px;
              width: 100%;
              overflow: hidden;
              color: #17394d;
          }
          .options {
              i {
                  color: #17394d;
                  
                  cursor: pointer;
                  display: block;
                  padding: 5px;

              }
          }
      }

      .rowhandler {
          max-height: calc(100vh - 200px);
          overflow-y: auto;
          scroll-snap-type: y mandatory;

          .todo {
              display :grid;
              grid-template-rows: auto 20px 20px;
              width: 100%;
              background-color: #fff;
              border-radius: 2.5px;
              min-height: 30px;
              margin-bottom: 5px;
              padding: 10px 5px;
              cursor: pointer;

              .image {
                  padding: 0;
                  margin: 0;
                  img {
                      margin: 0;
                      width: 205px;
                  }
              }

              .info {
                //   display: grid;
                //   grid-template-columns: 30px auto auto 20px;
                display: flex;
                padding-top: 2px;

                  .notifications {
                      
                      padding: 3px;
                      width: 35px;
                      i {
                          font-size: 0.8em;
                      }
                      .amount {
                          display: inline;
                      }
                      border-radius: 2px;
                  }

                  .unread {
                      color: #fff;
                      background-color: rgb(247, 43, 43);
                  }

                  .moreoptions {
                    //   margin: 3px 0px 0px 10px;
                      ul {
                          display: flex;
                      }

                      li {
                          margin: 0 5px;
                      }
                  }
              }
          }

          .todo:last-of-type {
              margin-bottom: 0;
          }
      }

      ::-webkit-scrollbar {
          background-color: #fff;
          width: 5px;
          border-radius: 2.5px;
      }

      ::-webkit-scrollbar-thumb {
          background-color: #666;
          border-radius: 2.5px;
      }

      .onemore {
        //   padding: 5px 10px;
          font-size: 14px;

          span.add-button {
              cursor: pointer;
              color: #000;
              width: 100%;
              display: block;
              font-weight: bold;
            //   line-height: 40px;
            &:hover{
                color: #5aac44;
            }
          }

          .add-card-form{
            textarea{
                margin-top: 10px;
                width: calc(100% - 15px);
                background: none;
                border: none;
                box-shadow: none;
                height: auto;
                margin-bottom: 4px;
                max-height: 162px;
                min-height: 54px;
                overflow-y: auto;
                padding: 0;
                outline: none;
                background-color: white;
                padding: 5px;
            }
          }

      }
  }
}