@import url("src/design/fonts.css");
body, html {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat-Regular"; }
  body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    body ul li {
      list-style-type: none; }
  body a {
    text-decoration: none; }
  body input, body button {
    outline: none;
    border: none;
    background: transparent; }

.unvisible {
  display: none; }

.inline {
  display: inline; }

.regform {
  margin-top: 100px;
  display: grid;
  grid-template-rows: 60px auto;
  justify-self: center;
  width: 350px;
  border: 2px solid #b8b8b8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .regform .att {
    font-size: 12px;
    margin-top: 0;
    color: red;
    font-weight: bold; }
  .regform #switcher {
    height: auto;
    border-bottom: 2px solid #b8b8b8;
    display: flex; }
    .regform #switcher li {
      transition: 0.3s;
      text-align: center;
      flex: 1;
      display: flex;
      position: relative;
      background: transparent; }
      .regform #switcher li a {
        transition: 0.3s;
        flex: 1;
        padding: 10px;
        font-size: 18px;
        line-height: 38px;
        white-space: nowrap;
        color: #353535; }
    .regform #switcher a::before, .regform #switcher a::after {
      transition: 0.3s;
      content: "";
      position: absolute;
      background: transparent;
      width: 0%;
      bottom: 0px;
      height: 3px;
      background: #4cb2ec; }
    .regform #switcher a::before {
      right: 50%; }
    .regform #switcher a::after {
      left: 50%; }
    .regform #switcher li:hover a::before, .regform #switcher li:hover a::after {
      width: 49%; }
    .regform #switcher li:first-child {
      border: none;
      border-top-left-radius: 5px; }
    .regform #switcher li:last-child {
      border-top-right-radius: 5px; }
  .regform #regform_content {
    padding: 15px; }
    .regform #regform_content a {
      font-size: 14px; }
    .regform #regform_content a#forgot {
      margin-left: 20px; }
    .regform #regform_content label {
      display: inline-block;
      margin: 5px 0;
      width: 100%;
      font-size: 14px;
      color: #000; }
    .regform #regform_content label[for=remember_me_checkbox] {
      margin-left: 30px;
      position: relative;
      cursor: pointer; }
    .regform #regform_content input {
      transition: 0.3s;
      margin: 5px 0;
      font-size: 16px;
      width: calc(100% - 20px);
      height: 25px;
      padding: 3px 10px;
      border: 1px solid #b8b8b8;
      border-radius: 3px; }
    .regform #regform_content input[type=text]:not(:focus), .regform #regform_content input[type=password]:not(:focus) {
      border-color: #b8b8b8; }
    .regform #regform_content input[type=text]:invalid:not(:focus):not(:placeholder-shown), .regform #regform_content input[type=password]:invalid:not(:focus):not(:placeholder-shown) {
      border-color: red; }
    .regform #regform_content input[type=text]:invalid:not(:focus):not(:placeholder-shown) ~ .att, .regform #regform_content input[type=password]:invalid:not(:focus):not(:placeholder-shown) ~ .att {
      display: block; }
    .regform #regform_content input[type=text]:valid, .regform #regform_content input[type=password]:valid {
      border-color: #39913d; }
    .regform #regform_content input:focus {
      border: 3px solid #4cb2ec;
      padding: 3px 8px;
      margin: 3px 0; }
    .regform #regform_content input[type=checkbox] {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      opacity: 0; }
    .regform #regform_content label[for=remember_me_checkbox]::before {
      content: "";
      position: absolute;
      display: block;
      left: -30px;
      top: -3px;
      width: 14px;
      height: 14px;
      border: 3px solid #b8b8b8;
      transition: 0.3s; }
    .regform #regform_content input[type=checkbox]:checked + label[for=remember_me_checkbox]::before {
      border: 3px solid #2b702f;
      transform: rotateZ(45deg) translateX(5px) translateY(-5px);
      border-left-style: none;
      border-top-style: none;
      width: 6px;
      height: 14px; }
    .regform #regform_content .apply_button {
      transition: 0.3s;
      margin: 25px 0 0 0;
      padding: 10px 10px;
      width: calc(100%);
      background-color: #39913d;
      font-size: 14px;
      color: #fff;
      border-radius: 5px;
      border: 1px solid #333;
      cursor: pointer; }
    .regform #regform_content .apply_button:hover {
      background-color: #2b702f; }
