@charset "UTF-8";
@import url('fonts.css');

//Variables:
    //Colors:
    $border-color: #b8b8b8;
    $active-color: rgb(76, 178, 236);
    $apply-color: rgb(57, 145, 61);
    $dark-color: rgba(22, 22, 22, 0.7);
    $light-color: rgba(255, 255, 255, 0.7);

    //Animations:
    $a_short-duration: 0.2s;
    $a-duration: 0.5s;
    $a_long_duration: 1s;

    //Fonts:
    $base-font: "Montserrat-Regular";



body, html, h1, h2, h3, h4, h5, h6 {
    margin: 0; padding: 0;
}

body {
    font-family: $base-font;

    ul {
        margin: 0; padding: 0;
        list-style: none;
        li{
            list-style-type: none;
        }
    }

    a {
        text-decoration: none;
        color: #000;
    }

    input, button {
        outline: none;
        border: none;
        background: transparent;
    }

    button {
        cursor: pointer;
    }
}

.unvisible {
    display: none;
}

.hidden {
    opacity: 0;
}

.inline {
    li {
        display: inline-block;
    }
}

.divideline {
    display: block;
    margin: 5px 5%;
    width: 90%; height: 1px;
    background-color: rgb(0, 0, 0);
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.regform {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 60px auto;
    justify-self: center;
    width: 350px;
    border: 2px solid $border-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .att{
        font-size: 12px;
        margin-top: 0;
        color: red;
        font-weight: bold;
    }

    #switcher {
        height: auto;
        border-bottom: 2px solid $border-color;
        display: flex;
        li {
            transition: 0.3s;
            text-align: center;
            flex: 1;
            display: flex;
            position: relative;
            background: transparent;
            a {
                transition: 0.3s;
                flex: 1;
                padding: 10px;
                font-size: 18px;
                line-height: 38px;
                white-space: nowrap;
                color: rgb(53, 53, 53);
            }
        }

        a::before, a::after {
            transition: 0.3s;
            content: "";
            position: absolute;
            background: transparent;
            width: 0%;
            bottom: 0px;
            height: 3px;
            background: $active-color;
        }

        a::before {
            right: 50%;
        }

        a::after {
            left: 50%;
        }

        li:hover {
            a::before, a::after {
                width: 49%;
            }
        }

        li:first-child {
            border: none;
            border-top-left-radius: 5px;
        }
        li:last-child {
            border-top-right-radius: 5px;
        }
    }

    #regform_content{
        padding: 15px;

        a {
            font-size: 14px;
        }

        a#forgot {
            margin-left: 20px;
        }

        label {
            display: inline-block;
            margin: 5px 0;
            width: 100%;
            font-size: 14px;
            color: #000;
        }

        label[for=remember_me_checkbox] {
            margin-left: 30px;
            position: relative;
            cursor: pointer;
        }

        input{
            transition: 0.3s;
            margin: 5px 0;
            font-size: 16px;
            width: calc(100% - 20px); height: 25px;
            padding: 3px 10px;
            border: 1px solid $border-color;
            border-radius: 3px;
        }

        input[type=text]:not(:focus), input[type=password]:not(:focus) {
            border-color: $border-color;
        }

        input[type=text]:invalid:not(:focus):not(:placeholder-shown), input[type=password]:invalid:not(:focus):not(:placeholder-shown) {
            border-color: red;
        }

        input[type=text]:invalid:not(:focus):not(:placeholder-shown) ~ .att, input[type=password]:invalid:not(:focus):not(:placeholder-shown) ~ .att {
            display: block;
        }       

        input[type=text]:valid, input[type=password]:valid {
            border-color: $apply-color;
        }

        input:focus{
            border: 3px solid $active-color;
            padding: 3px 8px;
            margin: 3px 0;
        }

        input[type=checkbox]{
            position: absolute;
            left: 0; top: 0;
            width: 20px; height: 20px;
            opacity: 0;
        }

        label[for=remember_me_checkbox]::before {
            content: "";
            position: absolute;
            display: block;
            left: -30px; top: -3px;
            width: 14px; height: 14px;
            border: 3px solid $border-color;
            transition: 0.3s;
        }

        input[type=checkbox]:checked + label[for=remember_me_checkbox]::before {
            border: 3px solid rgb(43, 112, 47);
            transform: rotateZ(45deg) translateX(5px) translateY(-5px);
            border-left-style: none;
            border-top-style: none;
            width: 6px;
            height: 14px;
        }
        
        .apply_button {
            transition: 0.3s;
            margin: 25px 0 0 0; 
            padding: 10px 10px;
            width: calc(100%); 
            background-color: $apply-color;
            font-size: 14px;
            color: #fff;
            border-radius: 5px;
            border: 1px solid #333;
            cursor: pointer;
        }

        .apply_button:hover {
            background-color: rgb(43, 112, 47);
        }
    }
}


.page-header {
    display: grid;
    grid-template-columns: 160px auto 160px;

    width: calc(100% - 30px);
    height:  40px;
    padding: 15px;
    background-color: $dark-color;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
    a {
        color: $light-color;
    }

    .menu {
        margin: 0 auto;

        li {
            background-color: transparent;
            border-radius: 6px;

            a {
                display: inline-block;
                padding: 10px 12px;
            }

            >a, >i {
                transition: $a_short-duration;
            }
        }

        li:hover {
            >i, >a {
                color: $dark-color;
            }
        }
    }

    .logo {
        margin: 0 auto;
        color: $light-color;
        line-height: 40px;
        font-size: 1.5em;
        transition: $a_short-duration;
        .logo-img {
            display: block;
            float: left;
            margin-right: 10px;
            background: $dark-color url("");
            background-size: cover;
            width: 1.8em;
            height: 1.5em;
            
        }
    }

    .logo:hover {
        color: $dark-color;
        letter-spacing: 0.4em;
    }

    .dropdownmenu {
        position: absolute;
        top: 0px;
        display: none;

        padding: 10px;
        padding-bottom: 15px;
        background-color: $dark-color;
        border-radius: 5px;
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
        transition: $a-duration;
        opacity: 0;
        .divideline {
            background-color: $light-color;
        }

        .usinfo {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: $light-color;
            }

            .useravatar {
                width: 55px; height: 40px;
                border-radius: 50%;
                background-color: red;
                margin-left: 10px;
                margin-right: 20px;
            }
        }

        li {
            display: block;
            position: relative;
            border-radius: 0;
            background-color: transparent;
            width: 90%;
            margin: 0 auto;
            transition: $a_duration;

            a {
                position: relative;
                color: $light-color;
                z-index: 5;
                transition: $a_duration;
            }
        }

        li::before {
            content:"";
            z-index: 0;
            position: absolute;
            width: 0;
            top: 0; left: 0; bottom: 0;
            background-color: rgb(206, 206, 206);
            transition: $a_duration;
        }

        li:hover {
            &::before {
                width: 100%;
            }

            a {
                color: $dark-color;
                font-weight: bold;
            }
        }
    }

    #boardm {
        position: relative;

        .dropdownmenu {
            width: 170px;
            right: 0;
            padding-top: 15px;
        }
    }

    #user {
        position: relative;

        .dropdownmenu {
            right: 0;
            width: 200px;
        }
    }

    #user:hover, #boardm:hover {

        .dropdownmenu{
            opacity: 1;
            top: 60px;
        }
    }
}

.page-main{
    background: url("BoardComponent/15184602736722.jpg");
    background-size: cover;

    .boards {
        p {
            font-size: 1.3em;  
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            

            .board-block {
                p {
                    margin: 5px 0;
                    font-size: 0.9em;
                }

                .name {
                    margin-bottom: 45px;
                }

                width: 200px;
                height: 120px;
                margin: 15px;
                overflow: hidden;
                background-color: rgb(206, 206, 206);
                background-size: contain;
                background-position: center;
                padding: 10px;
                border-radius: 5px;
                transition: $a-duration;
                .party {
                    li {
                        transition: $a_short-duration;
                        display: inline-block;
                        border-radius: 50%;
                        width: 20px; height: 20px;
                        background: $dark-color;
                        margin: 3px; 
                        cursor: pointer; 
                    }
                } 
            }

            .add-board {
                p {
                    text-align: center;
                                       

                    i {
                        font-size: 3em;
                        color: $dark-color;
                        line-height: 110px;
                        transition: $a_short-duration;
                        cursor: pointer; 
                    }

                    i:hover {
                        transform: translate(-2px, -2px);
                        text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
                    }
                }
            }

            .board-block:hover {
                transform: translate(-5px, -5px);
                box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.3);
            }

            .party {
                li:hover {
                    transform: translate(-3px, -3px);
                    box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.3);
                }
            }
        }
    }

    .wrap {
        width: calc(100% - 80px);
        padding: 0 40px;
        padding-top: 10px;
        box-shadow: 1px 10px 20px 0 rgba(0, 0, 0, 0.5);
        background-color: rgba(199, 199, 199, 0.3);
    }

    .board-menu {
        display: grid;
        grid-template-columns: auto 30px;
        padding: 10px 0px;
        height: 25px;
        color: $light-color;
        a, i { color: $light-color;}
        .boardmenul {
            display: grid;
            grid-template-columns: 15% 280px auto;
            .mainoptions {
                ul {
                    display: flex;
                    li {
                        padding: 0 20px;
                        border-right: 1px solid #999;
                    }
                }
            }
            .members {
                margin-left: 20px;
                ul {
                    display: flex;
                    li {
                        width: 18px; height: 18px;
                        background-color: #999;
                        border-radius: 50%;
                        margin-right: -5px;
                        border: 1px solid #000;
                        transition: $a_short-duration;
                    }

                    li:not(:first-child):hover {
                        margin-right: 5px;
                        margin-left: 10px;
                    }
                    li:first-child:hover {
                        margin-right: 5px;
                    }
                }
            }
        } 
    }

    .columnhandler {
        padding: 15px 0;
        height: calc(100vh - 155px);
        display: flex;
        //overflow-x: scroll;
        flex-direction: row;
        align-items: flex-start;

        .column {
            display: grid;
            grid-template-rows: 40px auto 40px;
            background-color: rgb(204, 204, 204);
            border-radius: 5px;
            padding: 5px;
            min-width: 220px;
            max-width: 220px;
            margin: 0 15px;

            .cap-block {
                padding: 5px 10px;
                display: grid;
                grid-template-columns: auto 20px;

                .options {
                    a, i {
                        color: #000;
                        line-height: 29px;
                    }
                }
            }

            .rowhandler {
                max-height: calc(100vh - 245px);
                overflow-y: scroll;

                .todo {
                    width: calc(100% - 15px);
                    background-color: #fff;
                    border-radius: 2.5px;
                    min-height: 30px;
                    margin-bottom: 5px;
                    padding: 5px;
                }
                .todo:last-of-type {
                    margin-bottom: 0;
                }
            }
            ::-webkit-scrollbar {
                background-color: #fff;
                width: 5px;
                border-radius: 2.5px;
            }
            ::-webkit-scrollbar-thumb {
                background-color: #666;
                border-radius: 2.5px;
            }

            .onemore {
                padding: 5px 10px;
                a {
                    color: #000;
                    line-height: 40px;
                }
            }
        }
    }

}