@import 'commonStyles/variables.scss';

$modal-height: 80px;

.modal {
  min-width: 350px;
  min-height: $modal-height;
  right: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 6px;
  background-color: rgb(0, 121, 191);
  padding: 10px;
}

.board-name-input {
  font-family: $base-font, serif;
  padding: 10px 8px;
  color: white;
  background: transparent;
  outline: 0;
  width: calc(100% - 18px - 16px);
  font-weight: 600;
  font-size: 0.95rem;

  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }

  &:hover {
    background-color: rgba(204, 204, 204, 0.2);
  }

}

.close-icon {
  background: url('../../resources/images/close.svg') no-repeat left top;
  position: fixed;
  right: 0.8em;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.submit-board-button {
  font-family: $base-font, serif;
  position: absolute;
  top: calc(#{$modal-height} + 10px);
  left: 0;
  padding: 10px 10px;
  border-radius: 4px;
  background-color: #f5f6f7;
  color: rgba(0, 0, 0, 0.3);
  cursor: default;

  &.active {
    background-color: #5aac44;
    box-shadow: 0 1px 0 0 #3f6f21;
    border: none;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #509040;
    }
  }

}
