@import 'commonStyles/variables.scss';

.regform {
  width: 400px;
  border: 2px solid $border-color;
  border-radius: 5px;
  padding-top: 15px;
  background-color: white;
    

  .regform_content{
    padding: 20px;
    padding-bottom: 2rem;
  }
}

