//Variables:
    //Colors:
    $border-color: #b8b8b8;
    $active-color: rgb(76, 178, 236);
    $apply-color: rgb(57, 145, 61);
    $light-grey: #ccc;
    $grey: #707070;

    //Animations:
    $a_short-duration: 0.2s;
    $a-duration: 0.5s;
    $a_long_duration: 1s;

    //Fonts:
    $base-font: "Montserrat-Regular";