label.label_with_input {
  display: inline-block;
  margin: 5px 0;
  width: 100%;
  font-size: 14px;
  color: #000; }
  label.label_with_input p.unvisible {
    display: none; }
  label.label_with_input p.att {
    font-size: 12px;
    margin-top: 0;
    color: red;
    font-weight: bold; }
  label.label_with_input p.error_text {
    white-space: pre-line; }
  label.label_with_input input {
    transition: 0.3s;
    margin: 5px 0;
    font-size: 16px;
    width: calc(100% - 20px);
    height: 25px;
    padding: 3px 10px;
    border: 1px solid #b8b8b8;
    border-radius: 3px; }
  label.label_with_input input[type=text]:not(:focus), label.label_with_input input[type=password]:not(:focus) {
    border-color: #b8b8b8; }
  label.label_with_input input[type=text]:invalid:not(:focus):not(:placeholder-shown), label.label_with_input input[type=password]:invalid:not(:focus):not(:placeholder-shown) {
    border-color: red; }
  label.label_with_input input[type=text]:invalid:not(:focus):not(:placeholder-shown) ~ .att, label.label_with_input input[type=password]:invalid:not(:focus):not(:placeholder-shown) ~ .att {
    display: block; }
  label.label_with_input input[type=text]:valid, label.label_with_input input[type=password]:valid {
    border-color: #39913d; }
  label.label_with_input input:focus {
    border: 3px solid #4cb2ec;
    padding: 3px 8px;
    margin: 3px 0; }
